* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff5e1;
}

body {
  max-width: 800px;
  margin: 0 auto;
}

/* LOADING SCREEN, ERROR */

.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.92);
  z-index: 1000;
}

.loading {
  border: none;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  background: transparent;
  padding: 0;
}

.loading-text {
  color: #fff5e1;
  font-size: 1.5rem;
  font-weight: 400;
  width: 100px;
}

.error {
  color: red;
  font-size: 1.1rem;
  margin-bottom: 10px;
}

/* TOP */

.header {
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-container {
  position: relative;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.search-btn {
  border: none;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 20px;
  margin-left: 10px;
  font-size: 1.4rem;
  text-align: center;
  color: #fff5e1;
  border: 1px solid #fff5e1;
  background: transparent;
}

:disabled {
  border: 1px solid red;
}

.search-field {
  border: none;
  width: clamp(100px, 80vw, 300px);
  height: 2.5rem;
  font-size: 1.4rem;
  padding-left: 15px;
  border-radius: 20px;
  color: #fff5e1;
  border: 1px solid #fff5e1;
  background: transparent;
}

.search-field:focus {
  outline: none;
  border: 1px solid #fff5e1;
}

.tab-btn-container {
  display: flex;
  gap: 10px;
}

.btn-current-forecast,
.btn-toggle-unit {
  width: clamp(40px, 30vh, 100px);
  height: 30px;
  border: 1px solid #fff5e1;
  border-radius: 10px;
  font-size: 1.2rem;
  background: transparent;
  color: #fff5e1;
}

/* Background override */
.btn-current-forecast,
.btn-toggle-unit,
.search-btn,
.search-field {
  background: linear-gradient(rgba(50, 96, 180, 0.3), rgba(50, 96, 180, 0.3));
}

.btn-current-forecast:hover,
.btn-toggle-unit:hover,
.search-btn:hover:not(:disabled) {
  background-color: rgb(50, 96, 180);
  cursor: pointer;
}

/* LOCATION */

.location-container {
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
  padding-left: 20px;
  gap: 20px;
  font-size: 1.25rem;
}
/* CURRENT WEATHER */

.current-container {
  border: 1px solid #fff5e1;
  border-radius: 10px;
  display: grid;
  min-height: 500px;
  grid-template-areas:
    "temp condition"
    "wind precip";
}

/* temp */

.temp-container {
  grid-area: temp;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-top: 30px;
}

.current-temp {
  font-size: 3rem;
  align-self: flex-start;
  margin: 0;
  padding-top: 10px;
}

/* condition */

.condition-container {
  grid-area: condition;
  display: flex;
  flex-direction: column;
  padding-top: 25px;
}

.current-condition-img {
  width: 5rem;
  height: auto;
}

.current-condition-text {
  padding-left: 20px;
}

/* wind */

.wind-container {
  grid-area: wind;
  padding-left: 25px;
  margin-top: -60px;
}

/* precipitation */

.precip-container {
  grid-area: precip;
  padding-left: 20px;
  padding-top: 10px;
}

/* FORECAST */

/* EVERY DAY BRO */
.day {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border: 1px solid #fff5e1;
  border-radius: 10px;
  background: linear-gradient(rgba(0, 0, 0, 0.295), hsla(218, 28%, 21%, 0.212));
}

/*header*/
.date-header {
  grid-area: date-header;
  padding-left: 10px;
  font-size: 1.25rem;
  font-weight: bold;
}

.time-header {
  grid-area: time-header;
  text-align: center;
}

.condition-header {
  grid-area: condition-header;
}

.temp-header {
  grid-area: temp-header;
}

.precip-header {
  grid-area: precip-header;
}

.wind-header {
  grid-area: wind-header;
  text-align: center;
}

.day-header {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 0.8fr 1fr 1fr 0.8fr 0.8fr;
  grid-template-areas:
    "date-header date-header date-header date-header ... ..."
    "time-header condition-header temp-header precip-header wind-header wind-header";
}

/* FORECAST DETAILS */
.hour {
  display: grid;
  align-items: center;
  position: relative;
  grid-template-columns: 1fr 0.8fr 1fr 1fr 0.8fr 0.8fr;
  grid-template-areas: "time condition-img temp precip wind-speed wind-dir";
}

.day > .hour:not(:last-child):after {
  display: block;
  position: absolute;
  content: "";
  width: 90%;
  left: 5%;
  height: 1px;
  background-color: #fff5e14f;
  margin-top: 4rem;
  border-radius: 10px;
}

.time {
  text-align: center;
}

.condition-img,
.wind-dir {
  display: flex;
  flex-direction: column;
  height: 30px;
  width: auto;
  justify-content: center;
}

.temp {
  color: #4888ff;
}

.warm {
  color: #ff0000;
}

.precip {
  color: #3abef9;
}

.wind-speed {
  text-align: end;
  padding-right: 13px;
}

/* wind arrows */

.current-wind-direction {
  height: 100px;
  width: auto;
}

/* invisible */

.invisible {
  display: none;
}
