* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  max-width: 800px;
}
/* LOADING SCREEN */

.loading {
  width: 100%;
  height: 100%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* wind arrows */

.current-wind-direction,
.wind-dir {
  fill: #00ffff;
}

/* CURRENT WEATHER */

.location-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  border: 1px solid red;
}

.current-container {
  min-height: 600px;
}

.temp-container {
  grid-area: temp;
  border: 1px solid green;
}

.condition-container {
  grid-area: condition;
  border: 1px solid green;
}

.wind-container {
  grid-area: wind;
  border: 1px solid green;
}

.precip-container {
  grid-area: precip;
  border: 1px solid green;
}

.current-container {
  border: 1px solid blue;
  display: grid;
  grid-template-areas:
    "temp condition"
    "wind precip";
}

/* FORECAST */
/*header*/
.date-header {
  grid-area: date-header;
}

.time-header {
  grid-area: time-header;
}

.condition-header {
  grid-area: condition-header;
}

.temp-header {
  grid-area: temp-header;
}

.precip-header {
  grid-area: precip-header;
}

.wind-header {
  grid-area: wind-header;
}

.day-header {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  border: 1px solid red;
  grid-template-areas:
    "date-header ... ... ... ... ..."
    "time-header condition-header temp-header precip-header wind-header wind-header";
}

.hour {
  border: 1px solid blue;
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  grid-template-areas: "time condition-img temp precip wind-speed wind-dir";
}

.condition-img,
.wind-dir {
  height: 30px;
  width: auto;
}

.invisible {
  display: none;
}
